# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
nuxt_app/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
raspberry/env
.env
.env.*
!.env.example
